<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HealthBodyTestNGTests">
	<parameter name="testDatabase" value="healthbodydbtest" />
	<test name="PrepareDatabase">
		<classes>
			<!-- <class name="edu.softserveinc.healthbody.db.CreateDropTestDatabase" /> -->
			<class name="edu.softserveinc.healthbody.db.CreateDatabaseTestOpenShift" />
		</classes>
	</test>
	
	<test name="UserTests">
		<classes>
			<class name="edu.softserveinc.healthbody.users.UsersViewServiceImplTest" />
		</classes>
	</test>
	
	<test name="GroupTests">
		<classes>
			<class name="edu.softserveinc.healthbody.users.UserProfileServiceImplTest" />
		</classes>
	</test>
	
		<test name="UserProifileTests">
		<classes>
		<class name="edu.softserveinc.healthbody.competitions.CompetitionsViewServiceImplTest" />
		</classes>
	</test>
	
	<test name="CompetitionTests">
		<classes>
					<class name="edu.softserveinc.healthbody.groups.GroupServiceImplTest" />
		</classes>
	</test>
</suite> 
