<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1">

  <test name="Testng1">
    <classes>
      <class name="edu.softserveinc.healthbody.CreationDropDBForTest"></class>
    </classes>
  </test>
  
  <test name="Testng2">
    <classes>
      <class name="edu.softserveinc.healthbody.UsersViewServiceImplTest"></class>
    </classes>
  </test>
  
  <test name="Testng3">
    <classes>
      <class name="edu.softserveinc.healthbody.UserProfileServiceImplTest"></class>
    </classes>
  </test>
  
  <test name="Testng4">
    <classes>
      <class name="edu.softserveinc.healthbody.GroupServiceImplTest"></class>
    </classes>
  </test>
  
  <test name="Testng5">
    <classes>
      <class name="edu.softserveinc.healthbody.CompetitionsViewServiceImplTest"></class>
    </classes>
  </test> 
  
</suite> 
